
BODY {
  color: #FFFF00;
  background-color: #FFFF80;
  font-family: "Times New Roman", serif;
  font-size: medium;
}

:link {
  color: #00FFFF;
}

:visited {
  color: #EE80EE;
}

.serifed {
  font-family: "Times New Roman", serif;
}

.sans {
  font-family: Verdana, arial, sans-serif;
}

.script {
  font-family: "signet roundhand att", cursive;
}

TD {
  color: #FFFF80;
  background-color: #8000FF;
  font-family: "Times New Roman", serif;
  font-size: medium;
}

P {
  font-size: small;
}

H1 {
  font-family: "Times New Roman", serif;
  font-size: large;
}

.novel {
  margin-left: 25px;
  margin-right: 50px;
}

.novel P {
  text-indent: 50px;
}

.novel P.heading {
  text-indent: 0px;
}

.greek {
  font-family: Symbol;
}
